.content {
  .tab {
    text-align: center;
    padding: 11px;
    .nowshowing,
    .comingsoon {
      display: inline-block;
      position: relative;
      height: 70px;
      position: relative;
      transition: all 0.3s ease;
      box-shadow: 2px 5px 3px rgb(0 0 0 / 90%);
      cursor: pointer;
      .button {
        font-weight: 400;
        font-size: 17pt;
        color: #fff;
        display: inline-block;
        height: 100%;
        line-height: 50px;
        text-align: center;
        border: none;
        z-index: 9;

        width: 300px;
        padding: 10px 15px;
        text-transform: uppercase;
        border-radius: 4px 4px 0 0;
        position: relative;
      }
      .border {
        position: absolute;
        display: block;
        width: 120px;
        left: 90px;
        bottom: 3px;
        z-index: 9;
        height: 2px;
        background: transparent;
        border: none !important;
      }
    }
    .active {
      zoom: 110%;
      .border {
        background: #ce3e82;
      }
    }
    .nowshowing {
      margin-right: 27px;
      .button {
        background: #281a3a;
        img {
          margin-right: 6px;
        }
      }
      &::after {
        content: "";
        transform: skewX(-15deg);
        -webkit-transform: skewX(-15deg);
        background: #281a3a;
        position: absolute;
        top: 0;
        width: 35px;
        bottom: 0;
        right: -10px;
        z-index: 1;
        box-shadow: 3px 2px 3px rgb(0 0 0 / 90%);
      }
    }
    .comingsoon {
      .button {
        background: #f29438;
        img {
          float: right;
          width: 40px;
        }
      }
      &::before {
        content: "";
        transform: skewX(-15deg);
        -webkit-transform: skewX(-15deg);
        background: #f29438;
        position: absolute;
        top: 0;
        width: 23px;
        bottom: 0;
        left: -10px;
        z-index: 2;
        box-shadow: 0 5px 3px rgb(0 0 0 / 90%);
      }
    }
  }
}
