@mixin stylebtnPink() {
  padding: 5px 30px;
  background-color: #eb1689;
  box-shadow: -2px 0 4px #000;
  border-radius: 0;
  border: 1px solid #2a88bd;
}
@mixin styleTextWhite() {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.6;
}

@mixin styleHoverBtn() {
  background-color: #f346a3;
  border-color: #1f648b;
}
