<section>
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="50"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    [thumbs]="{ swiper: thumbsSwiper }"
    [loop]="true"
    [autoplay]="true"
  >
    <ng-container *ngFor="let item of dataCarousel">
      <ng-template swiperSlide>
        <div
          class="item"
          [style]="{ 'background-image': 'url(' + item.poster + ')' }"
        >
          <div class="backgroundLinear"></div>
          <img
            src="../../../../assets/img/carousel/play-video.png"
            alt="play"
            (click)="openDialog(item.youtubeVideoIdTrailer)"
          />
        </div>
      </ng-template>
    </ng-container>
  </swiper>
</section>
