.cover-flow-movie {
  text-align: center;

  .swiper {
    position: relative;
    #mySwiperID {
      width: 100%;
      aspect-ratio: 2.3;
    }
    .navigation {
      width: 45px;
      height: 45px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      cursor: pointer;
      z-index: 100;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      img {
        margin: auto;
      }
    }
    .swiper-navigation-prev {
      left: 0;
    }
    .swiper-navigation-next {
      right: 0;
    }
  }
}
