.movie-list {
  text-align: center;
  .tab {
    padding: 11px;
    .nowshowing,
    .comingsoon {
      display: inline-block;
      position: relative;
      height: 70px;
      position: relative;
      transition: all 0.3s ease;
      box-shadow: 2px 5px 3px rgb(0 0 0 / 90%);
      cursor: pointer;
      .button {
        font-weight: 400;
        font-size: 17pt;
        color: #fff;
        display: inline-block;
        height: 100%;
        line-height: 50px;
        text-align: center;
        border: none;
        z-index: 9;

        width: 300px;
        padding: 10px 15px;
        text-transform: uppercase;
        border-radius: 4px 4px 0 0;
        position: relative;
      }
      .border {
        position: absolute;
        display: block;
        width: 120px;
        left: 90px;
        bottom: 3px;
        z-index: 9;
        height: 2px;
        background: transparent;
        border: none !important;
      }
    }
    .nowshowing {
      margin-right: 27px;
      .button {
        background: #281a3a;
        img {
          margin-right: 6px;
        }
      }
      &::after {
        content: "";
        transform: skewX(-15deg);
        -webkit-transform: skewX(-15deg);
        background: #281a3a;
        position: absolute;
        top: 0;
        width: 35px;
        bottom: 0;
        right: -10px;
        z-index: 1;
        box-shadow: 3px 2px 3px rgb(0 0 0 / 90%);
      }
    }
    .comingsoon {
      .button {
        background: #f29438;
        img {
          float: right;
          width: 40px;
        }
      }
      &::before {
        content: "";
        transform: skewX(-15deg);
        -webkit-transform: skewX(-15deg);
        background: #f29438;
        position: absolute;
        top: 0;
        width: 23px;
        bottom: 0;
        left: -10px;
        z-index: 2;
        box-shadow: 0 5px 3px rgb(0 0 0 / 90%);
      }
    }
    .active {
      zoom: 110%;
      .border {
        background: #ce3e82;
      }
    }
  }
  .top {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    .info {
      z-index: 1;
      opacity: 0;
      transform: translateX(-100%);
      position: absolute;
      background-color: rgba(255, 255, 255, 0.72);
      top: 0;
      left: 0;
      transition: all 0.5s ease 0s;
      width: 100%;
      height: 100%;
      .button {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 140px;
        height: 40px;
        color: #fff;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
      }
      .detail {
        top: -110px;
        background-color: #ea3b92;
      }
      .ticket {
        background-color: #382741;
        font-size: 20px;
        top: 0;
        img {
          width: 36px;
          height: 32px;
          display: inline-block;
          margin-top: -5px;
        }
      }

      .text {
        font-size: 16px;
        color: #000;
        text-transform: capitalize;
        top: 100px;
        width: 100%;
        padding: 0 5px;
        line-height: 20px;
      }
      .category {
        top: 160px;
      }
      .format {
        top: 220px;
      }
    }
    &:hover {
      .info {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .bottom {
    width: 100%;
    height: 20%;
    position: relative;
    line-height: normal;
    .movie-name {
      padding: 5px 0;
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 22px;
    }
    .start-time {
      font-size: 14px;
      color: #fff;
      font-weight: 500;
      text-align: center;
    }
  }
}
