<section class="container">
  <div class="event">
    <div class="row">
      <div class="col-8">
        <div class="promotion">
          <h1>Ưu đãi - sự kiện</h1>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/event2021/mung-83-2021-thumbnail.jpg"
                  alt="“MÙNG 8/3 – CẢ NHÀ VUI VẺ” – TẶNG VÉ KHU VUI CHƠI"
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#"
                  >“MÙNG 8/3 – CẢ NHÀ VUI VẺ” – TẶNG VÉ KHU VUI CHƠI</a
                >
              </h3>
              <div class="description">
                &nbsp; 🎊Mừng ngày Quốc Tế Phụ Nữ 8/3, Touch Cinema xin dành
                những lời chúc tốt đẹp nhất tới toàn thể các bà, các mẹ, các chị
                em gái luôn...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/slider-app/1000x1000-1-thumbnail.png"
                  alt="TOUCH ĐÃ TRỞ LẠI, KHUYẾN MÃI 10 NGÀY!"
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#">TOUCH ĐÃ TRỞ LẠI, KHUYẾN MÃI 10 NGÀY!</a>
              </h3>
              <div class="description">
                ☀THÔNG BÁO: TOUCH CINEMA MỞ CỬA HOẠT ĐỘNG TRỞ LẠI 🔥Touch Cinema
                đã chính thức mở cửa và hoạt động chiếu phim trở lại từ 17:00
                hôm nay ngày 25/02. Sau khoảng...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/giang-sinh-2020/1000x1000-thumbnail.png"
                  alt="GIÁNG SINH VUI VẺ CÙNG TOUCH CINEMA"
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#">GIÁNG SINH VUI VẺ CÙNG TOUCH CINEMA</a>
              </h3>
              <div class="description">
                CHƯƠNG TRÌNH ƯU ĐÃI ĐẶC BIỆT: GIÁNG SINH VUI VẺ CÙNG TOUCH
                CINEMA TỪ 24 - 26.12.2020 &nbsp; Theo đó, đối với khách hàng
                thành viên sẽ được giảm ngay...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/2011/1000x1000-2-thumbnail.png"
                  alt="20-11: MUA 2 TẶNG 1 - MỪNG NGÀY NHÀ GIÁO VIỆT NAM"
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#"
                  >20-11: MUA 2 TẶNG 1 - MỪNG NGÀY NHÀ GIÁO VIỆT NAM</a
                >
              </h3>
              <div class="description">
                Nhân ngày Nhà giáo Việt Nam 20-11, Touch Cinema xin gửi những
                lời chúc tốt đẹp nhất đến quý thầy cô giáo. Touch cũng đã chuẩn
                bị những món quà...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/10-2020/44168549-2230111737312697-8612774386266537984-o-thumbnail.jpg"
                  alt="Mừng ngày phụ nữ Việt Nam 20/10/2020"
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#">Mừng ngày phụ nữ Việt Nam 20/10/2020</a>
              </h3>
              <div class="description">
                🎊🍾Chương trình khuyến mãi tại Touch Cinema nhân dịp
                20/10🍻&nbsp;Áp dụng từ ngày 20 đến 23/10Mua 2 vé trở lên sẽ
                được tặng 1 phần nước ngọt lớn. Cách...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/vong-quay-may-man/1024x768-thumbnail.jpg"
                  alt="VÒNG QUAY MAY MẮN - 100% CƠ HỘI NHẬN VOUCHER MIỄN PHÍ"
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#"
                  >VÒNG QUAY MAY MẮN - 100% CƠ HỘI NHẬN VOUCHER MIỄN PHÍ</a
                >
              </h3>
              <div class="description">
                **Thông tin chính thức về chương trình VÒNG QUAY MAY MĂN tại
                Touch Cinema nè cả nhà ơi. - Về thời gian diễn ra sự kiện: Diễn
                ra thường xuyên từ 12:00 đến 18:00...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/zalopay/8cbf39735d05a15bf814-thumbnail.jpg"
                  alt="TOUCH CINEMA  X ZALOPAY: MUA VÉ CHỈ VỚI 10K😱"
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#">TOUCH CINEMA X ZALOPAY: MUA VÉ CHỈ VỚI 10K😱</a>
              </h3>
              <div class="description">
                Chương trình mua vé qua hình thức Zalo Pay áp dụng cho lần đầu
                tiên khi thanh toán qua hình thức này. Khách hàng chỉ cần tải về
                và cài đặt...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/05-2020/1000x1000-thumbnail.png"
                  alt='ƯU ĐÃI PEPSI - ĐẨY LÙI "CÔ VI"'
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#">ƯU ĐÃI PEPSI - ĐẨY LÙI "CÔ VI"</a>
              </h3>
              <div class="description">
                Mừng Việt Nam chiến thắng đại dịch Codid 19. Touch Cinema có
                chương trình ứu đãi dành cho tất cả các thành viên: ƯU ĐÃI PEPSI
                - ĐẨY LÙI "CÔ VI" Thời...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/fb-1000x1000-thumbnail.jpg"
                  alt="8/3 GIẢM NGAY 38K"
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#">8/3 GIẢM NGAY 38K</a>
              </h3>
              <div class="description">
                Thời gian chương trình: 8/3/2020 Thể lệ: Mỗi khách hàng thành
                viên nữ khi chi tiêu tại Touch Cinema từ 180k sẽ được giảm ngay
                38k Đối với khách hàng online, nhập...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-item">
            <div class="post-thumbnail">
              <a href="#">
                <img
                  class="img-responsive"
                  src="https://touchcinema.com/uploads/1000x1000-1581740282-thumbnail.png"
                  alt="HAPPY BIRTHDAY QUAY NGAY QUÀ ĐỈNH"
                />
              </a>
            </div>
            <div class="post-detail">
              <h3>
                <a href="#">HAPPY BIRTHDAY QUAY NGAY QUÀ ĐỈNH</a>
              </h3>
              <div class="description">
                MỪNG SINH NHẬT LẦN THỨ 2 CỦA TOUCH CINEMA - TOUCH NAY ĐÃ LÀ "BÉ
                LÊN BA" Touch Cinema xin gửi đến quý khách hàng đã đồng hành
                cùng Touch trong thời gian qua...
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="center">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">«</span>
              </li>

              <li class="page-item active">
                <span class="page-link">1</span>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">5</a>
              </li>

              <li class="page-item">
                <a class="page-link" href="#" rel="next">»</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="movie text-center">
          <div class="p-2"></div>
          <h1 class="titleOrange">Phim đang chiếu</h1>
          <div class="listMovie">
            <ng-container *ngFor="let movie of nowshowingList">
              <div
                class="poster"
                [style]="{ 'background-image': 'url(' + movie.hinhAnh + ')' }"
              ></div>
            </ng-container>
          </div>
          <a routerLink="/phim" class="aBtn mt-0"> mua vé </a>
        </div>
      </div>
    </div>
  </div>
</section>
